parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\App\\\\RequestInterface\\:\\:getPathInfo\\(\\)\\.$#"
			count: 1
			path: App/Router.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\App\\\\RequestInterface\\:\\:setControllerName\\(\\)\\.$#"
			count: 1
			path: App/Router.php

		-
			message: "#^Property Magento\\\\Backend\\\\Block\\\\Widget\\\\Container\\:\\:\\$_headerText \\(string\\) does not accept Magento\\\\Framework\\\\Phrase\\.$#"
			count: 1
			path: Block/Adminhtml/Feed.php

		-
			message: "#^Return type \\(Magento\\\\Framework\\\\Phrase\\) of method Dlabsit\\\\XmlFeed\\\\Block\\\\Adminhtml\\\\Feed\\\\Edit\\:\\:getHeaderText\\(\\) should be compatible with return type \\(string\\) of method Magento\\\\Backend\\\\Block\\\\Widget\\\\Container\\:\\:getHeaderText\\(\\)$#"
			count: 1
			path: Block/Adminhtml/Feed/Edit.php

		-
			message: "#^Call to an undefined method Dlabsit\\\\XmlFeed\\\\Block\\\\Adminhtml\\\\Feed\\\\Grid\\:\\:addItem\\(\\)\\.$#"
			count: 3
			path: Block/Adminhtml/Feed/Grid.php

		-
			message: "#^Call to an undefined method Magento\\\\Sales\\\\Api\\\\Data\\\\OrderPaymentInterface\\:\\:getMethodInstance\\(\\)\\.$#"
			count: 1
			path: Block/Analytics/OrderSuccess.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\Controller\\\\ResultInterface\\:\\:setPath\\(\\)\\.$#"
			count: 2
			path: Controller/Adminhtml/Feed/Delete.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\Controller\\\\ResultInterface\\:\\:setPath\\(\\)\\.$#"
			count: 1
			path: Controller/Adminhtml/Feed/Edit.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\View\\\\Result\\\\Page\\:\\:addBreadcrumb\\(\\)\\.$#"
			count: 3
			path: Controller/Adminhtml/Feed/Edit.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\View\\\\Result\\\\Page\\:\\:setActiveMenu\\(\\)\\.$#"
			count: 1
			path: Controller/Adminhtml/Feed/Edit.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\App\\\\RequestInterface\\:\\:getHeader\\(\\)\\.$#"
			count: 1
			path: Controller/Adminhtml/Feed/Generate.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\App\\\\RequestInterface\\:\\:isAjax\\(\\)\\.$#"
			count: 1
			path: Controller/Adminhtml/Feed/Generate.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\Controller\\\\ResultInterface\\:\\:setPath\\(\\)\\.$#"
			count: 2
			path: Controller/Adminhtml/Feed/Generate.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\View\\\\Result\\\\Page\\:\\:addBreadcrumb\\(\\)\\.$#"
			count: 2
			path: Controller/Adminhtml/Feed/Index.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\View\\\\Result\\\\Page\\:\\:setActiveMenu\\(\\)\\.$#"
			count: 1
			path: Controller/Adminhtml/Feed/Index.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\Controller\\\\ResultInterface\\:\\:setPath\\(\\)\\.$#"
			count: 1
			path: Controller/Adminhtml/Feed/MassDelete.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\Controller\\\\ResultInterface\\:\\:setPath\\(\\)\\.$#"
			count: 1
			path: Controller/Adminhtml/Feed/MassStatus.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\Controller\\\\ResultInterface\\:\\:forward\\(\\)\\.$#"
			count: 1
			path: Controller/Adminhtml/Feed/NewAction.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\App\\\\RequestInterface\\:\\:getPostValue\\(\\)\\.$#"
			count: 1
			path: Controller/Adminhtml/Feed/Save.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\Controller\\\\ResultInterface\\:\\:setPath\\(\\)\\.$#"
			count: 6
			path: Controller/Adminhtml/Feed/Save.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\App\\\\RequestInterface\\:\\:getHeader\\(\\)\\.$#"
			count: 1
			path: Controller/Feed/Dynamic.php

		-
			message: "#^Class Dlabsit\\\\XmlFeed\\\\Logger\\\\Logger extends @final class Monolog\\\\Logger\\.$#"
			count: 1
			path: Logger/Logger.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\Api\\\\ExtensionAttributesInterface\\:\\:getStockItem\\(\\)\\.$#"
			count: 2
			path: Model/Feed/AttributeMapper.php

		-
			message: "#^Call to an undefined method Magento\\\\Store\\\\Api\\\\Data\\\\StoreInterface\\:\\:getRootCategoryId\\(\\)\\.$#"
			count: 1
			path: Model/Feed/AttributeMapper.php

		-
			message: "#^Call to an undefined method Magento\\\\Store\\\\Api\\\\Data\\\\StoreInterface\\:\\:getCurrentCurrencyCode\\(\\)\\.$#"
			count: 1
			path: Model/Feed/Writer/GoogleShoppingWriter.php
