<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <xmlfeed>
            <general>
                <cron_schedule>0 */2 * * *</cron_schedule>
            </general>
            <shared>
                <unique_id_source>product_id</unique_id_source>
                <custom_attribute_code/>
                <manufacturer_attribute>manufacturer</manufacturer_attribute>
                <mpn_attribute>sku</mpn_attribute>
                <ean_attribute/>
                <color_attribute>color</color_attribute>
                <size_attribute>size</size_attribute>
                <weight_attribute>weight</weight_attribute>
                <description_source>description</description_source>
                <filter_mode>all</filter_mode>
                <categories/>
                <include_out_of_stock>0</include_out_of_stock>
                <batch_size>500</batch_size>
                <vat_rate>24.00</vat_rate>
                <enable_gzip>1</enable_gzip>
            </shared>
        </xmlfeed>
        <xmlfeed_skroutz>
            <general>
                <enabled>0</enabled>
                <filename>skroutz.xml</filename>
                <default_availability>Available from 1 to 3 days</default_availability>
            </general>
            <analytics>
                <enabled>0</enabled>
                <shop_account_id/>
            </analytics>
        </xmlfeed_skroutz>
        <xmlfeed_google>
            <general>
                <enabled>0</enabled>
                <filename>google.xml</filename>
                <store_name/>
                <condition>new</condition>
            </general>
            <taxonomy>
                <default_google_category/>
            </taxonomy>
            <apparel>
                <default_gender/>
                <default_age_group/>
            </apparel>
            <shipping>
                <country/>
                <service/>
                <price/>
            </shipping>
        </xmlfeed_google>
        <xmlfeed_facebook>
            <general>
                <enabled>0</enabled>
                <filename>facebook.xml</filename>
                <store_name/>
                <condition>new</condition>
                <include_rich_description>0</include_rich_description>
                <include_quantity>0</include_quantity>
            </general>
            <taxonomy>
                <default_google_category/>
                <default_fb_category/>
            </taxonomy>
            <apparel>
                <default_gender/>
                <default_age_group/>
            </apparel>
        </xmlfeed_facebook>
        <xmlfeed_bestprice>
            <general>
                <enabled>0</enabled>
                <filename>bestprice.xml</filename>
                <default_availability>Παράδοση σε 1–3 ημέρες</default_availability>
            </general>
            <warranty>
                <provider/>
                <duration/>
            </warranty>
        </xmlfeed_bestprice>
        <xmlfeed_pricerunner>
            <general>
                <enabled>0</enabled>
                <filename>pricerunner.xml</filename>
                <stock_mode>enum</stock_mode>
                <lead_time>1-3 days</lead_time>
            </general>
            <shipping>
                <cost>0.00</cost>
            </shipping>
        </xmlfeed_pricerunner>
        <xmlfeed_bing>
            <general>
                <enabled>0</enabled>
                <filename>bing.xml</filename>
                <store_name/>
                <condition>new</condition>
            </general>
            <taxonomy>
                <default_google_category/>
            </taxonomy>
            <apparel>
                <default_gender/>
                <default_age_group/>
            </apparel>
            <shipping>
                <country/>
                <service/>
                <price/>
            </shipping>
        </xmlfeed_bing>
        <xmlfeed_idealo>
            <general>
                <enabled>0</enabled>
                <filename>idealo.xml</filename>
                <delivery>1-3 days</delivery>
                <condition>Neu</condition>
            </general>
            <delivery_costs>
                <dhl>0.00</dhl>
            </delivery_costs>
            <payment_costs>
                <prepayment>0.00</prepayment>
            </payment_costs>
        </xmlfeed_idealo>
        <xmlfeed_ceneo>
            <general>
                <enabled>0</enabled>
                <filename>ceneo.xml</filename>
                <avail_code>1</avail_code>
                <basket_enabled>0</basket_enabled>
            </general>
        </xmlfeed_ceneo>
        <xmlfeed_kelkoo>
            <general>
                <enabled>0</enabled>
                <filename>kelkoo.xml</filename>
                <condition>new</condition>
                <default_category_id/>
                <warranty/>
            </general>
            <delivery>
                <cost/>
                <time>24h</time>
            </delivery>
        </xmlfeed_kelkoo>
    </default>
</config>
